<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Elnur Hajiyev on on 7/15/22, 4:21 PM
  ~ Copyright (c) 2021 . All rights reserved to vpn
  ~ This code is copyrighted and using this code without agreement from authors is forbidden
  -->

<manifest package="loan.calculator.loan"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>